<div class="p-d-flex">
    <div class="p-flex-column" >
        <div class="p-mb-2" style="height: 79vh; overflow-y: auto;"> <!--style="overflow-y:auto; height: 400px;"-->
            <div *ngFor="let message of messages" style="word-wrap: break-word">
                <h3>User Id: {{message.rabbitUserId}}</h3>
                {{message.messageContent}}
            </div>
        </div>
        <div class="p-mb-2" style="font-family: Arial; height: 10vh">
            <!--
            Governing message component and EventEmitters.
            -->
            <app-message (enterKeyup)="onMessageEnterKeyup($event)"
                         (textInputChange)="onTextInputChange($event)"
                         (uploadFiles)="onFileUpload($event)">
            </app-message>
        </div>
    </div>




</div>



