<div class="p-d-flex">
    <div class="p-d-flex p-flex-column" style="border: 5px solid red; width: 120px;">
        <div class="p-mb-2" id="room">
            <p-button (onClick)="loadComponent()">Friends</p-button>
        </div>
        <div class="p-mb-2">
            <p-button (onClick)="loadComponent()">Rooms</p-button>
        </div>
        <div class="p-mb-2">
            <p-button (onClick)="loadComponent()">Settings</p-button>
        </div>
        <div class="p-mb-2">
            <p-button (onClick)="loadComponent()">Account</p-button>
        </div>
    </div>
    <div style="border: 5px solid red; width: 85px;" [style.display]="subMenuItem == undefined ? 'none' : 'initial'">
        <div >
            <ng-template subMenu></ng-template>
        </div>
    </div>
</div>
